<div class=container>
   <div class=htlfndr-steps>
      <ul class=htlfndr-progress>
         <li style="width:25%"><a href="#/searchresult"><span class=htlfndr-step-number>1</span> <span class=htlfndr-step-description>results</span></a></li>
         <li style="width:25%" class=htlfndr-active-step><span class=htlfndr-step-number>2</span> <span class=htlfndr-step-description>hotel</span></li>
         <li style="width:25%" ><span class=htlfndr-step-number>3</span> <span class=htlfndr-step-description>room</span></li>
         <li style="width:25%" ><span class=htlfndr-step-number>4</span> <span class=htlfndr-step-description>payment</span></li>
      </ul>
   </div>

   <h1>Ova e rezervacijata: {{rezervacijaCtrl.rezervacija}}</h1>
   <h1>Ova e korisnikot: {{userCtrl.user}}</h1>
   <div class="row htlfndr-page-content">
      <main id=htlfndr-main-content class="col-sm-12 col-md-8 col-lg-9 post htlfndr-hotel-single-content" role=main>
         <header class=htlfndr-entry-header>
            <h1 class=htlfndr-entry-title>{{hotelCtrl.hotel.ime}}</h1>
            <div class=htlfndr-rating-stars><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i></div>
            <div class="htlfndr-hotel-contacts row">
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-location><a href=#>{{hotelCtrl.hotel.adresa}}</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-mail><a href=mailto:kingroombok@mail.com>kingroombok@mail.com</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-url><a href=#>website.book-online.com</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-phone><a href=#>000-000-000-000</a></p>
               </div>
            </div>
         </header>
         <div class=clearfix></div>
         <section id=htlfndr-gallery-and-map-tabs>
            <div id=htlfndr-gallery-tab-1 class=htlfndr-hotel-gallery>
               <div id=htlfndr-gallery-synced-1 class=htlfndr-gallery-carousel>
                  <div class=htlfndr-gallery-item><img src=images/16660516681_8e0fcb131f_k.jpg alt="hotel img"/></div>

               </div>

            </div>

         </section>
         <section id=htlfndr-hotel-description-tabs>

            <div id=htlfndr-hotel-description-tab-1 class=htlfndr-hotel-description-tab>
               <div class=row>
                  <div class="col-md-5 htlfndr-description-table">
                     <table>
                        <tr>
                           <th scope=row>Име:</th>
                           <td>{{hotelCtrl.hotel.ime}}</td>
                        </tr>
                        <tr>
                           <th scope=row>Број на соби:</th>
                           <td>{{hotelCtrl.hotel.sobasById.length}}</td>
                        </tr>
                        <tr>
                           <th scope=row>Адреса:</th>
                           <td>{{hotelCtrl.hotel.adresa}}</td>
                        </tr>
                        <tr>
                           <th scope=row>Ѕвезди:</th>
                           <td>{{hotelCtrl.hotel.zvezdi}}</td>
                        </tr>

                     </table>
                  </div>
               </div>
            </div>

            <div id=htlfndr-hotel-description-tab-2 class=htlfndr-hotel-description-tab>
               <aside class="htlfndr-sidebar-in-top htlfndr-short-form">
                  <form name=search-hotel id=search-hotel class=htlfndr-search-form>
                     <div id=htlfndr-input-date-in class=htlfndr-input-wrapper><label for=htlfndr-date-in class=sr-only>Date in</label><input type=text ng-model="rezervacijaCtrl.rezervacija.datumOd" name=htlfndr-date-in id=htlfndr-date-in class="search-hotel-input hasDatepicker ng-pristine ng-valid" /><button type=button class=htlfndr-clear-datepicker></button></div>
                     <div id=htlfndr-input-date-out class=htlfndr-input-wrapper><label for=htlfndr-date-out class=sr-only>Date out</label><input type=text ng-model="rezervacijaCtrl.rezervacija.datumDo" name=htlfndr-date-out id=htlfndr-date-out class="search-hotel-input hasDatepicker ng-pristine ng-valid" /><button type=button class=htlfndr-clear-datepicker></button></div>
                     <div id="htlfndr-input-4" class=htlfndr-input-wrapper>
                        <label for=htlfndr-dropdown class=sr-only>Тип на соба</label>
                        <select name=htlfndr-dropdown ng-model="hotelCtrl.pomosh.tipSoba" id=htlfndr-dropdown class=htlfndr-dropdown>
                           <option ng-repeat="t in hotelCtrl.hotel.sobasById" ng-model="rezervacijaCtrl.sobasById.tipNaSoba" value="{{t.tipNaSoba}}">{{t.tipNaSoba}}</option>
                        </select>
                     </div>
                     <div id="htlfndr-input-4" class=htlfndr-input-wrapper>
                        <label for=htlfndr-dropdown class=sr-only>Број на соба</label>
                        <p>{{hotelCtrl.pomosh.tipSoba}}</p>
                        <select name=htlfndr-dropdown id=htlfndr-dropdown ng-model="hotelCtrl.pomosh.brSoba" class=htlfndr-dropdown>
                           <option ng-repeat="t in hotelCtrl.hotel.sobasById" ng-show="t.tipNaSoba===hotelCtrl.pomosh.tipSoba" ng-model="rezervacijaCtrl.sobasById.brSoba" value="{{t.brSoba}}">{{t.brSoba}}</option>
                        </select>
                        <p>Ova e : {{hotelCtrl.pomosh.brSoba}}</p>
                     </div>

                     <div id=htlfndr-input-5 class=htlfndr-input-wrapper><input type=submit value="Резервирај" class="btn-default" ng-click="rezervacijaCtrl.makeReservation(userCtrl.user,hotelCtrl.pomosh,hotelCtrl.hotel.ime)"/></div>
                     <div class=clearfix></div>
                  </form>
               </aside>

            </div>



            <div id='htlfndr-hotel-description-tab-5' class=htlfndr-hotel-description-tab>
               <form action=# method=get class=htlfndr-review-form>
                  <div class=htlfndr-form-left-side>
                     <label for=review-text>Внеси коментар</label>
                     <textarea name=review-text id='review-text' class=htlfndr-review-form-input></textarea></div>
                  <div class=htlfndr-form-right-side>
                     <div class=htlfndr-radio-set>
                        <h3>Внеси оценка</h3>
                        <label for=htlfndr-review-radio-1>1</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-1' value=1 /><label for=htlfndr-review-radio-2>2</label><input type=radio name=htlfndr-review-radio-cleanliness id=htlfndr-review-radio-2 value=2 /><label for=htlfndr-review-radio-3>3</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-3' value=3 /><label for=htlfndr-review-radio-4>4</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-4' value=4 /><label for=htlfndr-review-radio-5>5</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-5' value=5 checked=checked />
                     </div>



                  </div>
                  <div class=clearfix></div>
                  <input type=submit value="Испрати" class="btn-default"/>
               </form>
            </div>
         </section>
      </main>
      <aside id=htlfndr-right-sidebar class="col-sm-12 col-md-4 col-lg-3 htlfndr-sidebar htlfndr-sidebar-in-right" role=complementary>


         <div class="widget htlfndr-near-properties">

         </div>
         <div class="widget htlfndr-widget-help">
            <div class="htlfndr-widget-main-content htlfndr-widget-padding">
               <h3 class=widget-title>Доколку имате потреба од наша помош</h3>
               <span>24/7 посветена корисничка подршка</span>
               <p class=htlfndr-phone>+(000) 000-000-000</p>
               <p class=htlfndr-mail>contact@finder.com</p>
            </div>
         </div>
      </aside>
   </div>
</div>