<div class=container>
   <div class=htlfndr-steps>
      <ul class=htlfndr-progress>
         <li><a href=search-result.html><span class=htlfndr-step-number>1</span> <span class=htlfndr-step-description>results</span></a></li>
         <li class=htlfndr-active-step><span class=htlfndr-step-number>2</span> <span class=htlfndr-step-description>hotel</span></li>
         <li><span class=htlfndr-step-number>3</span> <span class=htlfndr-step-description>room</span></li>
         <li><span class=htlfndr-step-number>4</span> <span class=htlfndr-step-description>payment</span></li>
      </ul>
   </div>
   <div class="row htlfndr-page-content">
      <main id=htlfndr-main-content class="col-sm-12 col-md-8 col-lg-9 post htlfndr-hotel-single-content" role=main>
         <header class=htlfndr-entry-header>
            <h1 class=htlfndr-entry-title>Hilton Hotel</h1>
            <div class=htlfndr-rating-stars><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i></div>
            <div class="htlfndr-hotel-contacts row">
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-location><a href=#>San Francisco United States</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-mail><a href=mailto:kingroombok@mail.com>kingroombok@mail.com</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-url><a href=#>website.book-online.com</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-phone><a href=#>000-000-000-000</a></p>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4">
                  <p class=htlfndr-reviews>123 (Reviews)</p>
               </div>
            </div>
         </header>
         <div class=clearfix></div>
         <section id=htlfndr-gallery-and-map-tabs>
            <ul>
               <li><a href=#htlfndr-gallery-tab-1>photo</a></li>

            </ul>
            <div id=htlfndr-gallery-tab-1 class=htlfndr-hotel-gallery>
               <div id=htlfndr-gallery-synced-1 class=htlfndr-gallery-carousel>
                  <div class=htlfndr-gallery-item><img src=images/16660516681_8e0fcb131f_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16635965046_b2d93ce3c2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16681976888_1539c483aa_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/9552062566_5f946c2cb2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/15098547324_e583a06f71_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/15471603459_c78150330b_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16293832454_d7d8573af2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16415688600_a030e3e8dd_k.jpg alt="hotel img"/></div>
               </div>
               <div id=htlfndr-gallery-synced-2 class=htlfndr-gallery-carousel>
                  <div class=htlfndr-gallery-item><img src=images/16660516681_8e0fcb131f_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16635965046_b2d93ce3c2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16681976888_1539c483aa_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/9552062566_5f946c2cb2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/15098547324_e583a06f71_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/15471603459_c78150330b_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16293832454_d7d8573af2_k.jpg alt="hotel img"/></div>
                  <div class=htlfndr-gallery-item><img src=images/16415688600_a030e3e8dd_k.jpg alt="hotel img"/></div>
               </div>
            </div>

         </section>
         <section id=htlfndr-hotel-description-tabs>

            <div id=htlfndr-hotel-description-tab-1 class=htlfndr-hotel-description-tab>
               <div class=row>
                  <div class="col-md-5 htlfndr-description-table">
                     <table>
                        <tr>
                           <th scope=row>type:</th>
                           <td>hotel</td>
                        </tr>
                        <tr>
                           <th scope=row>rating stars:</th>
                           <td>4 stars</td>
                        </tr>
                        <tr>
                           <th scope=row>country:</th>
                           <td>usa</td>
                        </tr>
                        <tr>
                           <th scope=row>city:</th>
                           <td>san francisco</td>
                        </tr>
                        <tr>
                           <th scope=row>address:</th>
                           <td>Giudeca 810 st.</td>
                        </tr>
                        <tr>
                           <th scope=row>phone no:</th>
                           <td>1-800-123-0000</td>
                        </tr>
                        <tr>
                           <th scope=row>check in:</th>
                           <td>12-00 pm</td>
                        </tr>
                        <tr>
                           <th scope=row>check out:</th>
                           <td>12-00am</td>
                        </tr>
                        <tr>
                           <th scope=row>minimum stay:</th>
                           <td>2 days</td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>

            <div id=htlfndr-hotel-description-tab-2 class=htlfndr-hotel-description-tab>
               <aside class="htlfndr-sidebar-in-top htlfndr-short-form">
                  <form name=search-hotel id=search-hotel class=htlfndr-search-form>
                     <div id=htlfndr-input-date-in class=htlfndr-input-wrapper><label for=htlfndr-date-in class=sr-only>Date in</label><input type=text name=htlfndr-date-in id=htlfndr-date-in class=search-hotel-input /><button type=button class=htlfndr-clear-datepicker></button></div>
                     <div id=htlfndr-input-date-out class=htlfndr-input-wrapper><label for=htlfndr-date-out class=sr-only>Date out</label><input type=text name=htlfndr-date-out id=htlfndr-date-out class=search-hotel-input /><button type=button class=htlfndr-clear-datepicker></button></div>
                     <div id=htlfndr-input-4 class=htlfndr-input-wrapper>
                        <label for=htlfndr-dropdown class=sr-only>Тип на соба</label>
                        <select name=htlfndr-dropdown id=htlfndr-dropdown class=htlfndr-dropdown>
                           <option value="еднокреветна">еднокреветна</option>
                           <option value="двокреветна">двокреветна</option>
                           <option value="трокреветна">трокреветна</option>
                           <option value="апартман">апартман</option>
                        </select>
                     </div>
                     <div id=htlfndr-input-4 class=htlfndr-input-wrapper>
                        <label for=htlfndr-dropdown class=sr-only>Број на соба</label>
                        <select name=htlfndr-dropdown id=htlfndr-dropdown class=htlfndr-dropdown>
                           <option value="соба број 1">соба број 1</option>
                           <option value="соба број 2">соба број 2</option>
                           <option value="соба број 3">соба број 3</option>
                           <option value="соба број 4">соба број 4</option>
                           <option value="соба број 5">соба број 5</option>
                        </select>
                     </div>

                     <div id=htlfndr-input-5 class=htlfndr-input-wrapper><input type=submit value=update class="btn-default"/></div>
                     <div class=clearfix></div>
                  </form>
               </aside>

            </div>



            <div id='htlfndr-hotel-description-tab-5' class=htlfndr-hotel-description-tab>
               <form action=# method=get class=htlfndr-review-form>
                  <div class=htlfndr-form-left-side>
                     <label for=review-text>Внеси коментар</label>
                     <textarea name=review-text id='review-text' class=htlfndr-review-form-input></textarea></div>
                  <div class=htlfndr-form-right-side>
                     <div class=htlfndr-radio-set>
                        <h3>Внеси оценка</h3>
                        <label for=htlfndr-review-radio-1>1</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-1' value=1 /><label for=htlfndr-review-radio-2>2</label><input type=radio name=htlfndr-review-radio-cleanliness id=htlfndr-review-radio-2 value=2 /><label for=htlfndr-review-radio-3>3</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-3' value=3 /><label for=htlfndr-review-radio-4>4</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-4' value=4 /><label for=htlfndr-review-radio-5>5</label><input type=radio name=htlfndr-review-radio-cleanliness id='htlfndr-review-radio-5' value=5 checked=checked />
                     </div>



                  </div>
                  <div class=clearfix></div>
                  <input type=submit value="Испрати" class="btn-default"/>
               </form>
            </div>
         </section>
      </main>
      <aside id=htlfndr-right-sidebar class="col-sm-12 col-md-4 col-lg-3 htlfndr-sidebar htlfndr-sidebar-in-right" role=complementary>

         <div class="widget htlfndr-hotel-visit-card htlfndr-short-view">
            <div class="htlfndr-widget-main-content htlfndr-widget-padding">
               <div class=htlfndr-hotel-logo><img src=images/hotel-logo.jpg alt="Hotel logo" /></div>
               <div class=htlfndr-hotel-price><span class=htlfndr-from>from</span> <span class=htlfndr-cost>$ 100</span> <span class=htlfndr-per-night>/ night</span></div>
            </div>
            <a href=payment.html class=htlfndr-book-now-button role=button>book now</a>
         </div>
         <div class="widget htlfndr-near-properties">

         </div>
         <div class="widget htlfndr-widget-help">
            <div class="htlfndr-widget-main-content htlfndr-widget-padding">
               <h3 class=widget-title>Доколку имате потреба од наша помош</h3>
               <span>24/7 посветена корисничка подршка</span>
               <p class=htlfndr-phone>+(000) 000-000-000</p>
               <p class=htlfndr-mail>contact@finder.com</p>
            </div>
         </div>
      </aside>
   </div>
</div>