<main role=main>
    <section class="container htlfndr-top-destinations">
        <h2 class=htlfndr-section-title>Топ Дестинации</h2>
        <div class=htlfndr-section-under-title-line></div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="hotel in hotelCtrl.hotels">
                <article class=htlfndr-top-destination-block>
                    <div class=htlfndr-content-block>
                        <img src=images/top-destination-1.jpg alt=room-1 />
                        <div class=htlfndr-post-content>
                            <p class=htlfndr-the-excerpt>{{hotel.opis | limitTo: 170}}
                                <a class=htlfndr-read-more-arrow href=hotel-room-page.html>
                                    <i class="fa fa-angle-right"></i></a>
                            </p>
                            <div class=htlfndr-services>
                                <div class=row>
                                    <div class="col-sm-6 col-xs-6 htlfndr-service" ng-show="hotel.internet">WI-FI</div>
                                    <div class="col-sm-6 col-xs-6 htlfndr-service" ng-show="hotel.pojadokVoSoba">Со појадок</div>
                                </div>
                                <div class=row>
                                    <div class="col-sm-6 col-xs-6 htlfndr-service" ng-show="hotel.terasa">Тераса</div>
                                    <div class="col-sm-6 col-xs-6 htlfndr-service" ng-show="spaIFitnes">Спа и фитнес</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class=entry-footer>
                        <div class=htlfndr-left-side-footer>
                            <h5 class=entry-title>{{hotel.ime}}</h5>
                            <div class=htlfndr-entry-rating-stars>
                                <i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star htlfndr-star-color"></i>
                                <i class="fa fa-star htlfndr-star-color"></i><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class=htlfndr-right-side-footer>
                            <span class=htlfndr-cost>{{hotel.sobasById[0].cena}}</span>
                            <span class=htlfndr-per-night>за вечер</span>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </section>
    <section class="container-fluid htlfndr-usp-section">
        <h2 class="htlfndr-section-title htlfndr-lined-title">
            <span>USP section</span>
        </h2>
        <div class=container>
            <div class=row>
                <div class="col-sm-4 htlfndr-icon-box">
                    <img class="htlfndr-icon icon-drinks" src=images/icon-ups-drinks.png height=100 width=100 alt=icon />
                    <h5 class=htlfndr-section-subtitle>beverages included</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
                    <a href=# class=htlfndr-read-more-button>Прочитај повеќе</a>
                </div>
                <div class="col-sm-4 htlfndr-icon-box">
                    <img class="htlfndr-icon icon-drinks" src=images/icon-ups-card.png height=100 width=100 alt=icon />
                    <h5 class=htlfndr-section-subtitle>Најбезбедно резервирање</h5>
                    <p>Со нашиот систем ќе можете едноставно и брзо да резервирате хотелска соба, со кредитна картичка по ваш избор
                    </p>
                    <a href=# class=htlfndr-read-more-button>read more</a>
                </div>
                <div class="col-sm-4 htlfndr-icon-box">
                    <img class="htlfndr-icon icon-drinks" src=images/icon-ups-check.png height=100 width=100 alt=icon />
                    <h5 class=htlfndr-section-subtitle>Гарантирано</h5>
                    <p>Сигурна и безбедна наплата без никакви скриени даноци</p>
                    <a href=# class=htlfndr-read-more-button>read more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid htlfndr-categories-portfolio">
        <h2 class="htlfndr-section-title bigger-title">Откриете ја Македонија</h2>
        <div class=htlfndr-section-under-title-line></div>
        <div class=container>
            <div class=row>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/mavrovo.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name">Маврово</h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/ohrid.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name">Охрид</h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/galicnik.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name">Галичник</h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/prespa.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name">Преспа</h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/golemgrad.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name">Голем Град</h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class=htlfndr-category-box onclick=void(0)>
                        <img src="images-Macedonia/macedonia/x.jpg "height=311 width=370 alt=category-img />
                        <div class="category-description">

                            <h2 class="subcategory-name"></h2>
                            <a href=# class=htlfndr-category-permalink></a>
                            <h5 class=category-name></h5>
                            <p class=category-properties><span></span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid htlfndr-visitors-cards">
        <h2 class="htlfndr-section-title bigger-title">visitors experienced</h2>
        <div class=htlfndr-section-under-title-line></div>
        <div class=container>
            <div class=row>
                <div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
                    <div class=htlfndr-visitor-card>
                        <div class=visitor-avatar-side>
                            <div class=visitor-avatar>
                                <img src=images/visitor-avatar-1.jpg height=90 width=90 alt="korisnik avatar" />
                            </div>
                        </div>
                        <div class=visitor-info-side>
                            <h5 class=visitor-korisnik-name>Sara Connor</h5>
                            <h6 class=visitor-korisnik-firm>Travel Magazine</h6>
                            <p class=visitor-korisnik-text>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
                    <div class=htlfndr-visitor-card>
                        <div class=visitor-avatar-side>
                            <div class=visitor-avatar><img src=images/visitor-avatar-2.jpg height=90 width=90 alt="korisnik avatar" /></div>
                        </div>
                        <div class=visitor-info-side>
                            <h5 class=visitor-korisnik-name>Mira Young</h5>
                            <h6 class=visitor-korisnik-firm>Hotel Manager</h6>
                            <p class=visitor-korisnik-text>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
                    <div class=htlfndr-visitor-card>
                        <div class=visitor-avatar-side>
                            <div class=visitor-avatar><img src=images/visitor-avatar-3.jpg height=90 width=90 alt="korisnik avatar" /></div>
                        </div>
                        <div class=visitor-info-side>
                            <h5 class=visitor-korisnik-name>John Smith</h5>
                            <h6 class=visitor-korisnik-firm>Hotel Manager</h6>
                            <p class=visitor-korisnik-text>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>