<main role=main>
    <table id="username" class="table">
        <tr>
            <th>број на соба</th>
            <th>тип на соба</th>
            <th>датум од</th>
            <th>датум до</th>
            <th>датум на одјава</th>
        </tr>
        <tr ng-repeat="r  in rezervacijaCtrl.FilterAtReservation ">
            <td>{{r.sobaByIdSoba.brSoba}}</td>
            <td>{{r.sobaByIdSoba.tipNaSoba}}</td>
            <td>{{r.datumOd}}</td>
            <td>{{r.datumDo}}</td>
            <td>{{r.datumOdjava}}</td>
        </tr>

    </table>
</main>
