<main role=main>
   <div class="col-md-12">
       <br>
       <br>
    <table id="username" class="table table-striped table-hover">
        <thead>
        <tr style="background-color: #66afe9 ;color:white">
            <th>хотел</th>
            <th># соба</th>
            <th>тип на соба</th>
            <th>датум од</th>
            <th>датум до</th>
            <th>датум на одјава</th>
            <th>оценка</th>
            <th>коментар</th>
            <th></th>

        </tr>
        </thead>
        <tr class ="" ng-repeat="r  in rezervacijaCtrl.rezervacii ">
            <td>{{r.sobaByIdSoba.hotelByHotelId.ime}}</td>
            <td>{{r.sobaByIdSoba.brSoba}}</td>
            <td>{{r.sobaByIdSoba.tipNaSoba}}</td>
            <td>{{r.datumOd}}</td>
            <td>{{r.datumDo}}</td>
            <td>{{r.datumOdjava}}</td>
            <td><input ng-value="r.ocenka"></td>
            <td><input class="input-sm" ng-value="r.komentar"></td>
            <td><button class="btn">ажурирај</button></td>
        </tr>

    </table>
       <br>
       <br>
   </div>
</main>
