<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Техничка подршка</h2>
 <div class=htlfndr-section-under-title-line></div>
   <p>{{tehpodCtrl.tehPods.length}} Golemina</p>
 <div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="t in tehpodCtrl.tehPods">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем {{$index + 1}}</h3>
		<p> {{t.prasanje}}</p>
        <a  class="btn btn-primary" role="button" ng-click="tehpodCtrl.HelpFunction(t)">Прочитај повеќе >></a>
      </div>
    </div>
  </div>
 </div>
</section>
	
</main>